body {
}
#tab1 .dni {
    margin-right: 90px;
    margin-left: 20px;
}

#tab1 .nombre{
    margin-right: 90px;
    margin-left: 20px;
}

#tab1 .apellido-paterno {
    margin-left: 100px;
    margin-right: 30px;
}

#tab1 .apellido-materno {
    margin-right: 100px;
    margin-left: 30px;
}

#tab1 .sexo {
    margin-left: 100px;
    margin-right: 30px;
}

#tab2 .ce{
    display: flex;
    justify-content:center;
    align-items:center;
}


#tab2 .telefono {
    margin-right: 100px;
    margin-left: 30px;
}

#tab2 .nombre-academia {
    margin-left: 100px;
    margin-right: 30px;
}

#tab3 .fn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tab3 .fecha-nacimiento {
/*    margin-left: 100px;*/
    margin-right: 150px;
}

#tab3 .label-fn {
    /*margin-left: 100px;
    margin-right: 30px;*/
    text-align:right;
}

#tab3 .categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}